.navbar {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  margin: 0 10px 0 10px;
}

.navbar h2 {
  flex-grow: 1;
  margin: auto;
}

.navbar button {
  flex-grow: 1;
}

@media screen and (min-width: 810px) {
  .navbar {
    flex-flow: row;
    padding: 20px 20px 0 20px;
  }
  .navbar button {
    flex-grow: 0;
  }
}
